.page.about {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.page.about .photo {
  max-height: 85vh;
  margin-right: 1rem;
}


.page.about .about__content {
  max-width: 70vw;
  display: flex;
  align-items: center;
}

.page.about .about__content .words h1{
  padding-top: 0;
  margin-top: 0;
 }