.page.about {
  display: flex;
  height: calc(100vh - 54px);
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.page.about .photo {
  max-width: 45%;
  margin-right: 1rem;
}


.page.about .content {
  display: flex;
  align-items: center;
}

.page.about .content .words h1{
  padding-top: 0;
  margin-top: 0;
 }