.page.donate {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.page.donate .content {
  max-width: 500px;
  place-self: center;
}