.modal-container {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: calc(100vh - 68px);
  z-index: 10000;
  left: 0;
}

.modal {
  position: absolute;
  width: 95vw;
  max-height: calc(100vh - 68px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.awssld__wrapper  {
  max-height: calc(100vh - 68px - 65px);
}

.modal__header {
  display: flex;
  justify-content: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.modal__header__title {
  text-transform: uppercase;
  font-weight: bold;
}

.modal__header__close {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transform: rotate(45deg);
  font-size: 3rem;
  cursor: pointer;
}