.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  border-bottom: 2px solid red;
  padding: 0 1rem;
  text-transform: uppercase;
}

.header .title {
  font-size: 20px;
}

/* .header__item {
  min-width: 150px;
} */

a, a:visited {
  color: #E50000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header__item--right {
  display: flex;
  justify-content: flex-end;
}

.header__item--left {
  display: flex;
}
.header .link:last-child {
  margin-left: 1rem;
  font-size: 16px;
}

.mute-btn {
  width: 1.5rem;
  cursor: pointer;
}