.footer {
  display: flex;
  align-items: center;
  justify-content: center;;
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;
  font-size: 11px;
  opacity: 0.5;
  text-align: center;
  margin: 0;
}

.footer a {
  cursor: pointer;
}